header div#read-appbar {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.2rem;
  padding: 0 1ch;
  z-index: 10001;
}

header div#read-appbar div.row {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 2ch;
}

header div#read-appbar div.row .section-title {
  font-size: 0.9rem !important;
  color: var(--text);
}

header div#read-appbar div.row button {
  outline: none;
  border: none;
  background-color: unset;
  background: unset;
  font-size: 22px;
  color: var(--text);
}

article {
  background-color: var(--theme-background) !important;
  padding-bottom: 1rem;
}

article.d-chapter section.image {
  position: relative;
  height: 220px;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 4 / 3;
}

article.d-chapter section.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

div.close-page-btn {
  position: absolute;
  top: 2ch;
  right: 2ch;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.close-page-btn svg {
  font-size: 1.9rem;
  color: var(--white);
}

section.control-center {
  width: 100%;
  height: fit-content;
  background-color: var(--primary);
  color: var(--text);
  display: flex;
  justify-content: space-between;
}

section.control-center .row-column {
  width: 100%;
  padding: 1ch 0.5ch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.control-center .row-column .listen {
  width: 100%;
  word-wrap: break-word;
}

.row-column .bookmark-share {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-column .bookmark-share svg {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: var(--white);
}

.row-column .listen {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  color: var(--white);
}

.row-column .listen span {
  font-weight: bold;
  color: var(--white);
}

article i {
  color: var(--white);
  font-size: 1.3rem;
}

article .date-section {
  padding: 1ch;
}

article .date-section button {
  border-radius: 2ch;
  outline: none;
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  color: var(--text);
  padding: 1.5ch 2ch;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
}

#devotionals-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--theme-background);
  padding: 2ch;
  margin: 2ch;
  border-radius: 2ch;
  width: 80%;
  max-height: 70%;
  text-align: left;
  overflow: scroll;
  margin: auto;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1ch;
}

.calendar-header button {
  background: var(--green);
  color: var(--light);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-header {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  background: var(--light-gray);
  border-radius: 5px;
}

.day {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background: var(--light-gray);
}

.day:hover {
  background: var(--primary);
  color: var(--white);
}

.day.selected {
  background: var(--green);
  color: var(--white);
  font-weight: bold;
}

#devotionals-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#devotionals-list li {
  padding: 1ch;
}

article .date-section button i {
  font-size: 1.2rem;
  color: var(--text);
}

.message-sect {
  background-color: var(--theme-background);
  padding: 2ch 1.5ch;
}

.message-sect strong {
  margin-bottom: 1ch;
}

.message-sect .theme-scripture {
  margin-block: 0.5ch 2ch;
  font-family: "Poppins";
  line-height: 2.25ch !important;
  font-size: 1.5ch;
}

.hr-divider {
  display: flex;
  margin-block: 5ch;
  border: 2px solid var(--primary);
  border-radius: 50px;
}

article.d-chapter .message {
  margin: 2ch 0.5ch;
  padding: 0ch;
  font-family: "Poppins" !important;
  line-height: 2.25ch !important;
  font-size: 1.5ch;
}

#close-modal {
  padding: 10px 20px;
  margin-top: 20px;
  background: var(--accent);
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
