/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: robotoSlab;
  src: url("/src/assets/fonts/Roboto_Slab.ttf");
}

@font-face {
  font-family: noahsFont;
  src: url("/src/assets/fonts/noahs_font.ttf");
}

@font-face {
  font-family: robotoFlex;
  src: url("/src/assets/fonts/RobotoFlex-Regular.ttf");
}

@font-face {
  font-family: inter;
  src: url("/src/assets/fonts/inter.ttf");
}

@font-face {
  font-family: inter_italic;
  src: url("/src/assets/fonts/inter_italic.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("/src/assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: RalewayMedium;
  src: url("/src/assets/fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: RalewayItalic;
  src: url("/src/assets/fonts/Raleway-MediumItalic.ttf");
}

:root {
  --theme-background: #f1f3ef;
  --background-light: #ececec;
  --modal-background: #dbdbdb;
  --card-background: #f8f6f6;
  --theme-icon: #414040;
  --text: #0a0a10;
  --white: #fff;
  --text-safe-color: #1d1d1d;
  --border-radius: 2ch;
  --blue: #233654;
  --indigo: #b79a62;
  --purple: #673ab7;
  --primary: #1aa4e0;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffbe00;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: white;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #233654;
  --secondary: white;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffbe00;
  --danger: #dc3545;
  --light: white;
  --dark: #2c2e36;
  --primary-light: #85c1e9;
  --accent: #e74c3c;

  /*  */
  /* --text: #020b02;
  --background: #f2f9f2;
  --primary: #4dc748;
  --secondary: #8ddada;
  --accent: #91b291; */
}

* {
  scrollbar-width: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

i {
  color: var(--text);
}

img {
  width: 50px;
  height: 50px;
}

div.container_wrapper_main {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  height: 100dvh;
  overflow-y: scroll;
}

body {
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  height: 100vh;
  margin: 0px;
  width: 100%;
  background-color: var(--card-background);
  font-family: Raleway;
  color: var(--text);
}

main#container-main {
  height: fit-content;
  scroll-behavior: smooth;
  margin-top: 3.2rem;
  margin-bottom: 80px;
  padding: 1ch;
  padding-bottom: 100px;
  scroll-behavior: smooth;
  background-color: var(--card-background);
}

blockquote {
  padding: 1ch 0.7rem;
  margin: 0.7rem;
  border-left: 3px solid var(--theme-icon);
  font-family: initial;
  font-style: italic;
  font-size: 1.1rem;
  line-height: 2.5ch;
}

* > i {
  color: var(--white);
}

table {
  padding: 1ch;
  margin: 1ch 0;
}

table,
th,
tr,
td {
  border: 1px solid grey;
}

td,
td * {
  padding: 3px;
  font-style: normal !important;
}

/* app-bar  */
header#header_top_navbar {
  background-color: var(--primary);
  height: 3.5rem;
  padding: 0 1ch;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10001;
}

.app-bar {
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
}

.user-icon-btn {
  grid-column: 1 / 2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--white);
}

.logo-title {
  grid-column: 3 / 11;
  display: flex;
  align-items: center;
  justify-content: center;
}

#the {
  font-weight: bold;
  color: #007bff !important;
}

#t-title {
  font-weight: bold;
  color: white;
}

.header_actions {
  grid-column: 12 / 13;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1ch;
}

.logo {
  height: 2.3rem;
  width: auto;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  font-weight: 500;
}

.header_actions > * {
  font-size: 25px;
  color: var(--white);
}

h2.section-title {
  font-size: 1rem !important;
}

#footer_bottom_navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  background-color: transparent;
  z-index: 1000;
}

#bottom-navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3ch 1.7ch;
  height: 3.2rem;
  margin: 0;
  background-color: var(--white);
  border-top: 1px solid #d4d3d3ac;
  border-top-left-radius: 1.5ch;
  border-top-right-radius: 1.5ch;
}

.nav-item a {
  color: #6c6c6cea;
  font-size: 1.35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7ch;
}

.nav-item a small {
  font-size: 0.8rem;
  font-family: Poppins;
}

.nav-btn-active a svg {
  color: var(--green);
}

.nav-btn-active a small {
  color: var(--green);
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 85vh;
  width: 100vw;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease;
}

.welcome-screen {
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10001;
}

.overlay-actions {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.buttons_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

#get-started-btn {
  margin-bottom: 1ch;
  height: 40px;
  width: 70vw;
  border-radius: 50px;
  font-size: 1.5ch;
  display: grid;
  place-items: center;
  background: unset;
  outline: unset;
  border: unset;
  background-color: var(--success);
  color: var(--white);
  font-weight: bold;
  font-family: inter;
}

.login-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.login-page {
  width: 90vw;
  text-align: center;
  position: relative;
}

.login-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  font-family: Raleway;
}

.google-login-btn {
  background-color: #fff;
  color: var(--text);
  font-family: Raleway;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  width: 80%;
  height: 45px;
  margin: 2ch auto;
  padding: 1ch;
  border: none;
  border-radius: 2ch;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

.google-login-btn svg {
  width: 3ch;
  height: 3ch;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 1ch;
}

.input-group {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  padding: 1ch 0;
}

.input-group label {
  font-size: 18px;
  font-family: Raleway;
  font-weight: bold;
  margin-left: 2ch;
  padding: 1ch 0;
}

input.input-field {
  font-family: inter;
  font-weight: 500;
  text-indent: 1ch;
  width: 90%;
  margin-left: 2ch;
  font-size: 16px;
  height: 45px;
  border: 1px solid var(--text);
  background: unset;
  border-radius: 1ch;
  outline: unset;
  color: var(--text);
}

.login-btn {
  font-weight: 500;
  text-indent: 1ch;
  width: 70%;
  margin: 2ch auto 0;
  font-size: 18px;
  font-family: Raleway;
  height: 45px;
  border: 1px solid var(--white);
  background: #007bff;
  border-radius: 1ch;
  color: var(--white);
  cursor: pointer;
}

.guest-login-btn {
  background-color: transparent;
  border: none;
  margin-top: 20px;
  font-size: 14px;
  font-family: Raleway;
}

.guest-login-btn a {
  color: #007bff;
}

.login-btn:hover,
.login-btn:focus,
.login-btn:focus-within {
  border: 1px solid #007bff;
  background: transparent;
  color: var(--text);
}

.login-footer {
  margin-top: 20px;
  font-size: 14px;
}

.create-account-link,
.forgot-password-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.create-account-link:hover,
.forgot-password-link:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
}

.profile-container {
  margin: 0 auto;
}

.profile-header {
  padding: 1ch;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #c7c7c750;
}

.profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #c7c7c750;
  object-fit: cover;
}

.user-details {
  font-size: 14px;
  line-height: 1.5;
}

#u-name {
  font-size: 1rem;
}

#sign-in {
  padding: 1ch 2ch;
  border-radius: 2ch;
  background-color: var(--green);
  color: var(--white);
  margin-top: 1ch;
  width: fit-content;
  margin-inline: auto;
  font-weight: bold;
  font-family: inter;
}

.user-details span {
  font-weight: bold;
}

.action-list {
  padding: 1ch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.action-list li {
  border: 1px solid transparent;
  padding: 1ch 1.1ch;
}

.action-list li:hover,
.action-list li:focus {
  border-color: var(--green);
  border-radius: 2ch;
}

.action-list li:hover a,
.action-list li:focus a {
  color: var(--green);
}

.action-list li:hover i,
.action-list li:focus i {
  color: var(--green) !important;
}

.action-list li a {
  font-weight: bold;
  margin-left: 1ch;
}

.action-list li small {
  opacity: 0.7;
  margin-left: 3.5ch;
}

#cat-chapters {
  padding-top: 3.2rem;
  margin-top: 1rem;
}

#cat-chapters ul {
  padding: 0;
  margin: 0;
}

#cat-chapters ul li {
  background-color: var(--white);
  box-shadow: 0px 3px 30px #d1d1d07a;
  margin-bottom: 2ch;
  padding: 2ch;
  width: 80%;
  margin-inline: auto;
  border-radius: 2ch;
}

#cat-chapters ul li {
  display: flex;
  gap: 1rem;
}

#cat-chapters ul li img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  object-position: center;
  border-radius: 2ch;
}

#cat-chapters ul li div {
  display: flex;
  flex-direction: column;
}

#cat-chapters ul li div span {
  font-size: 0.9rem;
  font-weight: 600;
}

#cat-chapters ul li div a {
  width: 70px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 2ch;
  padding: 1ch 2ch;
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

header div#read-appbar {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 1ch 2ch;
  z-index: 10001;
}

header div#read-appbar div.row {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 2ch;
}

header div#read-appbar div.row button {
  outline: none;
  border: none;
  background-color: unset;
  background: unset;
  font-size: 22px;
  color: var(--white);
}

div#read-appbar div.row h2.article_title-p {
  color: var(--white);
  font-weight: 600;
  font-size: 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

main.article-container-main {
  margin-top: 70px;
  padding: 1ch;
  /* background-color: rgb(255, 128, 128); */
}

article.chapter {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0px 3px 3px #acacac4f;
}

article.chapter section.top-header {
  padding: 1ch 2ch;
  display: flex;
  flex-direction: column;
  gap: 0.5ch;
}

section.top-header div.date-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.top-header div.date-time p {
  font-size: 12px;
  color: grey;
}

section.top-header div.article-title#article-title {
  font-size: 2.8ch;
  text-transform: capitalize;
  font-weight: bold;
}

section.top-header div.author {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1ch;
}

div.author .circle-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

div.author .circle-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

article.chapter #message {
  margin: 2ch 0.5ch;
  padding: 1ch 2ch;
}

article.chapter #message-overview {
  padding: 0 2ch;
}

article.chapter #message > * {
  line-height: 2.1ch;
  font-family: "Raleway" !important;
  font-size: 1.8ch;
}

article.chapter section.image {
  height: 300px;
  width: 90%;
  border-radius: var(--border-radius);
  margin: 1ch auto;
  aspect-ratio: 4 / 3;
}

article.chapter section.image img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.continue-reading-btn {
  padding-bottom: 1ch;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.continue-reading-btn a {
  outline: unset;
  border: unset;
  width: 70%;
  height: 45px;
  border-radius: 50px;
  border: 1px solid var(--green);
  background-color: unset;
  background: unset;
  color: grey;
}

.continue-reading-btn a button {
  outline: unset;
  border: unset;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: inter;
  background-color: unset;
  background: unset;
  color: grey;
}

.related_articles_section {
  padding: 1ch;
}

article.r-chapter {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0px 3px 3px #acacac4f;
}

article.r-chapter section.r-top-header {
  padding: 1ch 2ch;
  display: flex;
  flex-direction: column;
  /* gap: 0.5ch; */
}

section.r-top-header div.r-date-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.r-top-header div.r-date-time p {
  font-size: 12px;
}

section.r-top-header div.r-article-title#article-title {
  font-size: 2ch;
  text-transform: none;
  font-weight: 600;
}

section.r-top-header div.r-author {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-items: center;
  gap: 1ch;
}

div.r-author .r-circle-avatar {
  width: 15px;
  height: 15px;
  border-radius: 50px;
}

div.r-author .r-circle-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

article.r-chapter section.r-image {
  height: 230px;
  width: 98%;
  border: 1px solid rgba(207, 207, 207, 0.63);
  border-radius: var(--border-radius);
  margin: 1ch auto;
  aspect-ratio: 4 / 3;
}

article.r-chapter section.r-image img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.r-author-name {
  font-size: 12px;
}

.a-chapter section.top-header {
  padding: 1ch 2ch;
  display: flex;
  flex-direction: column;
  gap: 0.5ch;
}

section.top-header div.date-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.top-header div.date-time p {
  font-size: 12px;
  color: grey;
}

section.top-header div.article-title#article-title {
  font-size: 2.8ch;
  text-transform: capitalize;
  font-weight: bold;
}

section.top-header div.author {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1ch;
}

div.author .circle-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

div.author .circle-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.a-chapter .message {
  margin: 2ch 0.5ch;
  padding: 0ch 2ch;
}

.a-chapter #article-message {
  line-height: 2.1ch;
  font-family: "Raleway" !important;
  font-size: 1.8ch;
}

.a-chapter section.image {
  height: 350px !important;
  width: 90% !important;
  border-radius: var(--border-radius);
  margin: 1ch auto;
  aspect-ratio: 4 / 3;
}

.a-chapter section.image img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}

h2.header-title {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 1ch;
}

section#recommended-readings {
  margin-top: 2ch;
  display: flex;
  flex-direction: column;
  gap: 1ch;
  padding: 1ch;
  border-radius: 2ch;
  background-color: var(--white);
}

section#recommended-readings div.reading-articles {
  display: flex;
  gap: 1rem;
  padding: 0 2ch 2ch 1ch;
  overflow-x: scroll;
}
section#recommended-readings div.reading-articles a.reading-card {
  display: flex;
  flex-direction: column;
  gap: 1.2ch;
  width: 9rem;
}

a.reading-card div.r-card-img {
  width: 9rem;
  height: 11rem;
  border-radius: 1.5ch;
}

a.reading-card div.r-card-img img {
  width: 9rem;
  height: 11rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1.5ch;
  border: 1px solid var(--theme-background);
}

a.reading-card div.card-info {
  font-size: 0.9rem;
  font-weight: bold;
}

.rc-author-datetime small {
  color: #5d809ccc;
}

main#video-player-main {
  height: fit-content;
  scroll-behavior: smooth;
  margin-top: 45px;
  margin-bottom: 80px;
  padding: 1ch;
  padding-bottom: 100px;
  scroll-behavior: smooth;
  background: url("/images/bg_main.jpg");
  background-size: contain;
}

.video-player .iframe-container {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 1ch;
  height: 0;
}
.video-player .iframe-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1ch;
}

.player-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 1ch;
  border-radius: 1ch;
  box-shadow: 0px 1px 12px #9797973a;
}

.player-des h1 {
  width: calc(100% - 10ch);
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.5;
  max-height: calc(2 * 1.2em);
}

.share-btn {
  border: 1px solid var(--purple);
  outline: unset;
  background: unset;
  background-color: unset;
  background-color: transparent;
  padding: 1.5ch 4ch;
  border-radius: 50px;
  color: var(--text);
}

.share-btn > small,
.share-btn i {
  font-size: 12px;
  color: var(--text);
  /* font-family:inherit; */
}

section.related-section {
  /* padding: 1ch; */
  border-radius: 1ch;
  margin-top: 1ch;
}

.related-videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.3rem;
}

.verification-container {
  font-family: Raleway;
  background-color: var(--white);
  padding: 1ch;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.verification-container h3 {
  color: #333333;
  margin-bottom: 1rem;
}

.verification-container .input-group {
  margin-bottom: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verification-container .input-group label {
  display: block;
  margin-bottom: 5px;
  color: #555555;
}

.verification-container .input-group input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #dddddd;
  border-radius: 1ch;
  outline: none;
  font-family: Raleway;
}

.verification-container .input-group input:focus {
  border-color: #4caf50;
}

.submit-btn {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  font-size: 1rem;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 4px;
}

.error-message {
  color: #ff4d4d;
  margin-bottom: 15px;
}

.related-videos-grid {
  display: grid;
  gap: 0.3rem;
  width: 100%;
}
.video-card {
  width: 100%;
  background-color: var(--white);
  text-decoration: none;
  border-radius: 1ch;
  color: inherit;
  display: block;
}
.video-thumbnail {
  border-radius: 1ch;
  position: relative;
}
.video-thumbnail img {
  border-radius: 1ch;
  width: 100%;
  height: auto;
  display: block;
}
