.shop_container {
  margin-top: 1ch;
  display: grid;
  gap: 2ch;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: var(--theme-background);
}

.shop-item-card {
  padding: 1ch;
  border-radius: 1.5ch;
  background-color: var(--modal-background);
  border-bottom: 1px solid var(--light-gray);
}

.shop-item-card>a {
  display: flex;
  flex-direction: column;
  padding: 1ch;
}

.shop-item-card a img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.shop-item-card>a>div h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.shop-item-card>div>div p {
  font-size: 1.4ch;
}

span.author-name {
  font-weight: bold;
}

.shop-item-card>div>div>div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5ch;
}

.shop-item-card a button {
  font-family: Poppins;
  font-size: 1.2rem;
  outline: unset;
  border: unset;
  width: 70%;
  height: 3.5rem;
  border-radius: 50px;
  border: 1px solid var(--green);
  background-color: var(--green);
  color: var(--light);
  margin: 0 auto;
}

.shop-item-card>div>div>div>button:focus,
.shop-item-card>div>div>div>button:focus-within,
.shop-item-card>div>div>div>button:hover {
  background-color: var(--green);
  color: var(--light);
}

div#products-appbar {
  background-color: var(--theme-background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  padding: 1ch 2ch;
  z-index: 10001;
}

div#products-appbar div.row {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 2ch;
}

div#products-appbar div.row button {
  outline: none;
  border: none;
  background-color: unset;
  background: unset;
  font-size: 22px;
  color: var(--text);
}

div#products-appbar div.row h2 {
  color: var(--text);
  font-weight: 500;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

main.products_main {
  margin-top: 70px;
  padding: 1ch;
}

.product-details-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-info h1 {
  font-size: 2ch;
  font-weight: bold;
}

.product-info p {
  font-size: 1.4ch;
  color: var(--text);
  font-family: 'Poppins';
  font-weight: 400;
  margin-bottom: 1ch;
  line-height: 1.6;
}

.product-info .ratings {
  font-size: 1.6ch;
  color: #ff9900;
}

.product-info .availability {
  font-size: 1.2ch;
}

.product-info .price {
  font-size: 1.6ch;
  font-weight: bold;
}

.product-info .buttons-cta {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 1ch;
}

.product-info button {
  padding: 1.5ch 1.7ch;
  background-color: var(--light-gray);
  color: gray;
  border: none;
  border-radius: 25px;
  cursor: no-drop;
  pointer-events: none;
  font-size: 1.4ch;
  font-family: Poppins;
}

.related-products h3 {
  font-size: 1.6ch;
  margin-bottom: 10px;
}

.related-products-container {
  display: grid;
  grid-auto-columns: 200px;
  grid-auto-flow: column;
  gap: 10px;
  overflow-x: scroll;
}

.related-product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--modal-background);
  padding: 1ch;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
}

.related-product-card img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.related-product-card>div {
  display: flex;
  flex-direction: column;
}

.related-product-card h4 {
  font-size: 1.4ch;
  text-align: left;
}

.related-product-card small {
  font-size: 1.2ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.related-product-card span {
  width: 100%;
  font-size: 1.4ch;
  font-weight: bold;
  margin-top: 1ch;
  text-align: left;
}